body{
    background-color: rgb(239, 245, 250);
}
.nav-link-custom{
    color: grey;
}
#active{
    color:blueviolet
}
.embolden{
    font-weight: 600;
}
h3{
    text-decoration: underline;
}
.aboutMe{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}
.container{
    margin-top: 30px;
}